$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import "bourbon/_bourbon.scss";
@import "base/base";

$content-window-width: 80%;
$content-window-height: 55em;
$background-color: #115;
$h1-size: $base-font-size * 3;
$h2-size: $base-font-size * 2.25;
$content-text-size: $base-font-size * 1.5;
$off-white: #AAA;
$border-color: #CCF;

body {
  margin-top: 2em;
  background-color: $background-color;
}

h1, h2 {
  color: $off-white;
  font-family: 'Lora', serif;
}

h1 {
  text-align: center;
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

.content {
  @include size(100%);
  background-color: shade($background-color, 30%);
  @include padding(1em 3em 3em 3em);
  font-size: $content-text-size;
  color: $off-white;
  font-family: $verdana;
  p {
    margin-top: 1.5em;
  }
}

.window-link {
  color: #FFF;
}

.window-link:hover  {
  cursor: pointer;
}

.large  {
  height: 8em;
}

.user-options {
  p {
    margin: 0;
    padding: 0;
    font-size: $base-font-size * .75;
  }
}

#content-window {
  margin: 0 auto;
  @include size($content-window-width $content-window-height);
  background-color: #eee;
  border-width: 1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: $border-color;
}
